@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
*,
*:before,
*:after {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 300;
  src: url("https://rsms.me/inter/font-files/Inter-Regular.woff2?v=3.5") format("woff2"), url("https://rsms.me/inter/font-files/Inter-Regular.woff?v=3.5") format("woff");
}
body {
  width: 100vw;
  height: 100vh;
  background-color: black;
  font-family: 'Inter UI';
}
.right {
  position: absolute;
  right: 0;
  width: 60vw;
  height: 100vh;
  overflow: hidden;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card {
  width: 370px;
  height: 230px;
}
.flip {
  width: inherit;
  height: inherit;
  transition: 0.7s;
  transform-style: preserve-3d;
  -webkit-animation: flip 2.5s ease;
          animation: flip 2.5s ease;
}
.front,
.back {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: 7px;
  box-shadow: 0 1px 3px 0px rgba(0,0,0,0.3);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-image: url(https://i.pinimg.com/originals/e7/d0/b1/e7d0b12ecb83a6044244c37360b01ad4.jpg);
  background-color: #b29967;
  overflow: hidden;
}
.front {
  transform: translateZ(0);
  align-content: center;
  align-items: center;
}
.icon {
  width: 75px;
  height: 75px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.holder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
  width: 100%;
  align-items: center;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0.5px;
  color: #555;
}
.master {
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
}
.master .circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #999;
}
.master .master-yellow {
  margin-left: -20px;
}
.master .master-text {
  position: absolute;
  top: 53px;
  left: 8px;
  font-size: 12px;
  color: #666;
}
.card {
  perspective: 1000;
}
.card:active .flip {
  transform: rotateY(180deg);
}
.back {
  transform: rotateY(180deg) translateZ(0);
}
.back .logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 350px;
}
.back .strip-black {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 50px;
  background: #555;
}
.info {
  position: absolute;
  width: 270px;
  margin: 50px;
  text-align: center;
  color: #aaa;
  font-family: Helvetica;
}
.code {
  font-family: 'Special Elite', cursive;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  background-color: #00000018;
  border-radius: 5px;
  border: black 1px;
  height: 2.5rem;
  width: 90px;
  outline: none;
  margin-left: .35em;
  margin-top: .25em;
}

.code::placeholder {
  font-family: 'Special Elite', cursive;
  color: #00000099;
}

.code::selection {
  color: darkred;
}
.js-tilt-glare > .js-tilt-glare-inner {
  background-image: linear-gradient(0deg, rgba(255,255,255,0) 70%, #fff 100%);
  width: 220px;
  height: 220px;
}
@-webkit-keyframes flip {
  0%, 100% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
}
@keyframes flip {
  0%, 100% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
}

#valida {
  position: fixed;
  left: 50%;
  top: 85%;
  transform: translate(-50%, -50%);
  text-decoration:none;
  color:#FFF;
  text-transform: uppercase;
  transition: ease 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  background: none;

}
.rainbow-button {
  --primary-neon:rgba(244,71,134,.9);
  --light-neon:rgba(237,27,118,.7);
  --pulse-neon:rgba(237,27,118,.5);
  --bright-neon:rgba(237,27,118,1);
  --off-neon:#333;
  
  --neon-shadow:0 0 7px 4px var(--light-neon), 0 0 7px 4px var(--light-neon) inset;
  --neon-shadow-pulse:0 0 8px 5px var(--pulse-neon), 0 0 8px 5px var(--pulse-neon) inset;
  --neon-shadow-bright:0 0 8px 4px var(--bright-neon), 0 0 8px 4px var(--bright-neon) inset;
  --neon-shadow-text:0 0 7px var(--primary-neon);
  
  width:calc(20vw + 6px);
  height:calc(8vw + 6px);
  color:var(--primary-neon);
  text-shadow:var(--neon-shadow-text);
  border:3px solid var(--primary-neon);
  border-radius:5px;
  display:flex;
  align-items:center;
  justify-content:center;
  text-transform:uppercase;
  font-size:3vw;
  font-weight:bold;
  box-shadow:var(--neon-shadow);
  animation:flicker 10s linear infinite;
}

@keyframes flicker {
  0% {
    box-shadow:var(--neon-shadow);
  }
  45% {
    box-shadow:var(--neon-shadow-pulse);
  }
  90% {
    box-shadow:var(--neon-shadow);
    border-color:var(--primary-neon);
    color:var(--primary-neon);
    text-shadow:var(--neon-shadow-text);
  }
  90.01% {
    box-shadow:none;
    border-color:var(--off-neon);
    color:var(--off-neon);
    text-shadow:none;
  }
  94% {
    box-shadow:none;
    border-color:var(--off-neon);
  }
  94.01% {
    box-shadow:var(--neon-shadow);
    border-color:var(--primary-neon);
  }
  95% {
    box-shadow:var(--neon-shadow);
    border-color:var(--primary-neon);
  }
  95.01% {
    box-shadow:none;
    border-color:var(--off-neon);
  }
  95.5% {
    box-shadow:none;
    border-color:var(--off-neon);
  }
  95.51% {
    box-shadow:var(--neon-shadow);
    border-color:var(--primary-neon);
  }
  96% {
    box-shadow:var(--neon-shadow);
    border-color:var(--primary-neon);
  }
  96.01% {
    box-shadow:none;
    border-color:var(--off-neon);
  }
  96.5% {
    box-shadow:none;
    border-color:var(--off-neon);
  }
  96.51% {
    box-shadow:var(--neon-shadow-bright);
    border-color:var(--primary-neon);
  }
  100% {
    box-shadow:var(--neon-shadow);
    border-color:var(--primary-neon);
  }
}
.rainbow-button:hover{
  background:var(--pulse-neon)!important;
  color: #050801;
  transition: ease 1s;
  box-shadow: 0 0 5px var(--pulse-neon),
              0 0 25px var(--pulse-neon),
              0 0 50px var(--pulse-neon),;
   -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}